.layout {
  height: 70vh;
  width: 100vw;
  overflow: hidden;
  background-color: #f11b1c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.imageContainer {
  height: 50%;
  width: 100%;
}
.imageContainer img {
  width: 100%;
  height: 90%;
  object-position: center;
  object-fit: cover;
  border-radius: 0 0 10vw 10vw;
  box-shadow: 0 0vw 20vw 5vw #000;
}
.layout p {
  font-family: "mindsetText";
  font-size: 5vw;
  text-align: center;
  color: var(--letterColor);
  letter-spacing: 0.2vw;
}
.layout p b {
  margin-right: 0.7vw;
}
@media all and (min-width: 1000px) {
  .layout {
    background-image: url("/images/quienesSomosDesktop.webp");
    background-repeat: no-repeat;
    height: 75vh;
    background-size: contain;
  }
  .imageContainer {
    display: none;
  }
  .layout p {
    font-size: 1.5vw;
    width: 43.99vw;
    position: absolute;
    top: 35vh;
    right: 3vw;
  }
}
@media all and (min-width: 1200px) {
  .imageContainer {
    display: none;
  }
  .layout p {
    font-size: 1.5vw;
    width: 43.99vw;
    position: absolute;
    top: 35vh;
    right: 3vw;
  }
}
@media all and (min-width: 1380px) {
  .layout p {
    font-size: 1.5vw;
    width: 43.99vw;
    position: absolute;
    top: 32vh;
    right: 6vw;
  }
}
