.contactoSection {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.infoPersonal {
  width: 90%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  position: relative;
}
.infoPersonal div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  position: relative;
}

.imagenClient {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22vw;
  width: 22vw;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
.imagenClient img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.infoPersonal div .presentacionCliente {
  width: 74%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: start;
}
.presentacionCliente h1 {
  font-size: 7vw;
  font-family: "mindsetTitle";
  font-weight: 500;
}
.presentacionCliente h2 {
  font-size: 4vw;
  font-family: "mindsetText";
  font-weight: 300;
  color: #f11b1c;
}
.presentacionCliente h3 {
  display: flex;
  align-items: center;
  font-size: 4vw;
  font-family: "mindsetText";
  font-weight: 300;
  gap: 1vw;
  position: relative;
}
.presentacionCliente h3 span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  color: #f11b1c;
}
.infoPersonal .infoDesktop {
  display: none;
}
.form {
  width: 90%;
  height: 80%;
  gap: 1.5vw;
  display: flex;
  flex-direction: column;
}
.form h3 {
  font-size: 7vw;
  font-family: "mindsetTitle";
  font-weight: 500;
}
.form h4 {
  font-size: 5vw;
  font-family: "mindsetTitle";
  font-weight: 400;
}
.inputsForm {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.form input {
  height: 7vh;
  width: 100%;
  border-radius: 1vw 1vw 0 0;
  border: none;
  border-bottom: 0.5vw solid #000;
  background: #d8d8d8;
  padding: 2vw 0vw 0 2vw;
  font-size: 4vw;
  font-family: "mindsetTitle";
  font-weight: 400;
  transition: all 0.2s;
}
.form input:focus {
  outline: none;
  border-bottom: 0.5vw solid #f11b1c;
}
.form .activeLabel {
  color: #f11b1c;
}
.formContainer {
  display: flex;
  flex-direction: column;
  height: 80%;
  gap: 4vw;
  justify-content: space-around;
}

.formContainer div label {
  position: absolute;
  margin-left: 2vw;
  margin-top: 1vw;
  font-family: "mindsetText";
  font-weight: 400;
  font-size: 3.8vw;
}
.textSection {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.form textarea {
  border-radius: 1vw;
  background: #d8d8d8;
  padding: 2vw 0vw 0 2vw;
  font-size: 4vw;
  font-family: "mindsetTitle";
  font-weight: 400;
  border: none;
  resize: none;
  width: 100%;
}
.form textarea:focus {
  outline: none;
}
.form button {
  align-self: flex-end;
  width: 35vw;
  height: 10vw;
  border-radius: 4vw;
  background-color: #f11b1c;
  color: #fff;
  font-family: "mindsetTitle";
  font-size: 4vw;
  letter-spacing: 0.6vw;
  border: none;
}
@media all and (min-width: 1000px) {
  .contactoSection {
    flex-direction: row;
  }
  .infoPersonal {
    width: 50%;
  }
  .infoPersonal {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 80%;
  }
  .infoPersonal .infoDesktop {
    display: flex;
    width: 80%;
    height: 50%;
    background-color: red;
    border-radius: 2vw;
    background-color: #d8d8d8;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    font-size: 1.5vw;
    text-align: center;
    font-family: "mindsetText";
    font-weight: 400;
  }

  .infoPersonal div .presentacionCliente {
    width: 74%;
    max-height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: 1vw;
  }
  .imagenClient {
    width: 10vw;
    height: 10vw;
  }
  .presentacionCliente h1 {
    font-size: 3vw;
  }
  .presentacionCliente h2 {
    font-size: 1.5vw;
  }
  .presentacionCliente h3 {
    font-size: 1.5vw;
  }
  .presentacionCliente h3 span {
    font-size: 2vw;
  }
  .form {
    width: 55%;
    height: 80%;
    justify-content: space-between;
    overflow: hidden;
  }
  .form h3 {
    font-size: 4vw;
  }
  .form h4 {
    font-size: 1.5vw;
  }
  .inputsForm {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 1vw;
  }
  .formContainer {
    height: 61%;
    width: 90%;
    overflow-x: visible;
    gap: 2vw;
  }
  .form input {
    width: 22vw;
    padding-left: 0.9vw;
    font-size: 1.6vw;
    border-radius: 0.5vw 0.5vw 0 0;
  }
  .formContainer div label {
    margin-left: 0.9vw;
    font-size: 1.3vw;
  }
  .textSection{
    height: 30%;
    gap: 2vw;
  }
  .form textarea {
    padding: 1vw 0vw 0 1vw;
    font-size: 1.7vw;
  }
  .form button {
    width: 100%;
    height: 10vw;
    font-size: 2vw;
    letter-spacing: 0;
    cursor: pointer;
    transition: all 0.4s;
  }
  .form button:hover {
    background-color: #cf0606;
  }
}
