.cardContainer {
  width: 88vw;
  height: 130vw;
  border-radius: 6vw;
  background-color: var(--bgSectionColor);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  margin-top: 2vw;
  overflow: hidden;
}
.cardContainer img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 6vw;
  object-fit: cover;
  object-position: center;
}
.cardContainer section {
  width: 100%;
  height: 100vw;
  display: flex;
  justify-content: flex-start;
}
.cardContainer section p {
  font-size: 7.5vw;
  width: 94%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "mindsetTitle";
  font-weight: 500;
  margin-left: 3vw;
  margin-bottom: 3vw;
  color: var(--letterColor);
}
.cardContainer section a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: absolute;
  width: 40vw;
  height: 13vw;
  border-radius: 5vw;
  background-color: red;
  font-size: 5.5vw;
  bottom: 2.5vh;
  font-family: "mindsetTitle";
  right: 8%;
  color: var(--letterColor);
}

@media all and (min-width: 1000px) {
  .cardContainer {
    width: 18vw;
    height: 32vw;
    border-radius: 1vw;
    transition: all .5s;
  }
  .cardContainer:hover{
    transform: scale(1.03);
  }
  .cardContainer img {
    border-radius: 1vw;
  }
  .cardContainer section p {
    font-size: 1.6vw;
    margin-left: 1vw;
    margin-bottom: 0;
  }
  .cardContainer section a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: absolute;
    width: 10vw;
    height: 2.6vw;
    border-radius: 5vw;
    background-color: #f11b1c;
    font-size: 1.5vw;
    bottom: 2vh;
    font-family: "mindsetTitle";
    right: 8%;
    color: var(--letterColor);
    transition: all .5s;
  }
  .cardContainer section a:hover{
    background-color: #c11212;
  }
}
