.header {
  width: 100vw;
  height: 10vh;
  background-color: var(--bgSectionColor);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
}
@media all and (min-width: 1004px) {
  .header .mobileNavbar {
    display: none;
  }
}
