.footerContainer {
  height: 30vh;
  width: 100vw;
  background-color: #f11b1c;
  margin-top: 4vw;
  display: flex;
  flex-direction: column;
  color: var(--letterColor);
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.footerContainer div h3 {
  font-family: "mindsetText";
  font-size: 7vw;
  text-align: center;
}
.desktopImage {
  display: none;
}
.redesSociales {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8vh 8vh;
  justify-content: center;
  align-content: center;
  position: relative;
}
.redesSociales {
  height: auto;
}
.redesSociales a {
  margin-left: 2vw;
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  justify-content: start;
  gap: 2vw;
  width: 100%;
  height: 100%;
  color: var(--letterColor);
  font-size: 5vw;
  font-family: "mindsetText";
}
.redesSociales svg {
  font-size: 6vw;
}

@media all and (min-width: 1000px) {
  .footerContainer {
    flex-direction: row;
    overflow-x: hidden;
    width: 100%;
  }
  .footerContainer div {
    width: 50%;
    height: 100%;
  }
  .footerContainer div:nth-child(2) {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  }
  .footerContainer div h3 {
    font-size: 1.5vw;
  }
  .footerContainer div h3 br {
    display: none;
  }
  .redesSociales {
    padding-top: 0;
  }
  .redesSociales a {
    font-size: 1.3vw;
  }
  .redesSociales svg {
    font-size: 1.5vw;
  }
  .footerContainer .desktopImage {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 20%;
  }
  .footerContainer .desktopImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
